<div class="container-fluid container-user">
  <div class="user-img-about">
    <%= gravatar_for @user %>
    <div class="user-about">
      <h1 class="user-name"><%= @user.username %></h1>

      <% @user ||= current_user %>
      <div class="stats">
        <a href="<%= following_user_path(@user) %>">
          <strong id="following" class="stat">
            <h3 class="user-following"><%= @user.following.count %>
          </strong>
          following</h3>
        </a>
        <a href="<%= followers_user_path(@user) %>">
          <strong id="followers" class="stat">
            <h3 class="user-followers"><%= @user.followers.count %>
          </strong>
          followers</h3>
        </a>
      </div>

      <h3 class="user-num-posts"><%= @posts.count %> posts</h3>
      <h3 class="user-joined">Joined on: <%= @user.created_at.to_formatted_s(:date) %></h3>

      <% if logged_in? && @user != current_user %>
        <% if current_user.active_relationships.find_by(followed_id: @user.id) == nil %>
          <%= form_for(current_user.active_relationships.build) do |f| %>
            <div><%= hidden_field_tag :followed_id, @user.id %></div>
            <%= f.submit "Follow", class: "btn btn-primary follow-btn" %>
          <% end %>
        <% end %>
        <% if current_user.active_relationships.find_by(followed_id: @user.id) != nil %>
          <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
                        html: { method: :delete }) do |f| %>
            <%= f.submit "Unfollow", class: "btn unfollow-btn" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class= "container-posts">
    <ul class="posts">
      <% @posts.reverse_each do |post| %>
        <li><%= auto_link(post.comment) %><br>

          <% if current_user == @user %>
            <span class="user">posted by <span id="user-post">me</span>
            <span class="timestamp">on <%= post.created_at %></span></span>
            <span class="delete">
              <%= link_to 'delete', post, method: :delete, data: {confirm: 'Are you sure you want to delete this post?' } %>
            </span>

          <% else %>

          <span class="user">
            posted by <%= @user.username %>
            <span class="timestamp">
              on <%= post.created_at%>
            </span>
          <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
