<div class="container container-main">

  <%= render partial: 'layouts/form' %>

  <% if logged_in? %>
    <ul class="posts"><span>View:</span>
      <a class="btn btn-default btn-home" disabled>all posts</a>
      <a class="btn btn-default btn-feed" href="<%= 'feed' %>">only following</a>
      <% @all_posts.each do |post| %>
        <%= render partial: 'layouts/feed', :locals => { :post => post } %>
      <% end %>
    </ul>
  <% else %>
    <h1>Welcome to Threadly</h1>
    <h4> Please <%= link_to "sign up", 'signup' %> or <%= link_to "log in", 'login' %> to post.</h4>
  <% end %>
</div>
