<header>
  <div class="container-fluid">
    <h1 class="navbar-brand"><%= link_to "Threadly", '/' %></h1>

    <% if logged_in? %>
      <ul class="nav nav-pills navbar-right">
        <li class="nav-name" data-container="body" data-html="true" data-toggle="popover" data-placement="bottom" data-content="Number of posts: <%= current_user.posts.length %>">Hi, <%= current_user.first_name.capitalize %>!</li>
        <li class="nav-action"><%= link_to "Profile", current_user %></a></li>
        <li class="nav-action"><%= link_to "Log out", logout_path, method: "delete" %></li>
      </ul>

      <% else %>

        <ul class="nav nav-pills navbar-right">
            <li class="nav-action"><%= link_to "Login", new_session_path %></a></li>
            <li class="nav-action"><%= link_to "Signup", signup_path %></a></li>
        </ul>
    <% end %>
  </div>
</header>
